.col-md-12 {
  padding: 0px;
  float: left;
}

.col-md-6 {
  padding: 0px;	
  float: left;
}

.col-md-8 {
  padding: 0px;
  float: left;
}

.col-md-4 {
  padding: 0px;
  float: left;
}

body {
  margin: 0px;
  background-color: whitesmoke;
}
div {
  margin: 0 auto;
  display: block;
}

.main_name_1 {
  width: inherit;
  height: 100px;
  float: left;
  background-color: #ddd;
}
.main_nv_1 {
  width: 100%;
  height: 50px;
  float: left;
}
.photo_back_view {
  width: 100%;
  float: left;
  background: url(img/earth.jpg);
  background-size: 100% 100%;
}
.navbar-default {
    border-radius: 0px 0px 0px 0px!important;
}
.navbar-nav li {
  font-size: 20px;
  font-family: "Times New Roman"
}
.center_1_v {
  height: 100px;
  width: 100%;
  background-color: #ddd;
}
.name_logo_1 {
  height: 90px;
  width: 500px;
  float: left;
  margin: 5px 0px 0px 30px;
}
.name_logo_1 h1 {
  font-size: 51px;
  font-weight: 600;
  font-family: "Broadway";
  margin:15px 0px 15px 0px;
}
.navbar-nav li a {
  padding-left: 30px;
  text-align: left;
}
.logo_center {
  height: 50px;
  width: 60px;
  float: left;
  margin: 25px 0px 0px 17px;
}
.logo_center img {
  height: 50px;
  width: 60px;
}

.search_bar {
	width: 400px;
	font: 20px "Times New Roman"; 
}

.btn-default {
	width: 80px;
	font: 21px "Times New Roman";
	height: 35px;
	margin-left: 5px;
	padding: 6px 15px 6px 9px;
	font-weight: 500;
}

#one{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
}

.dropdown-toggle {
	font-family: "Times New Roman";
	font-size: 21px;
}

.dropdown-menu label {
	color:#555;
	font: 21px "Times New Roman";
	font-weight: 500;
	margin-left: 5px;
}

.dropdown-menu li a {
	color:black;
}
.two {
	margin-bottom: 10px;
	font:20px "Times New Roman";
}

#butt {
	font-size: 17px;
	margin-left: 5px;
}

.empty {
	height: 400px;
	float: left;
	width: 100%;
}

.job_by_prof {
	margin: 0 auto;
	height: 100px;
	border: 1px solid white;
	width: 600px;	
}

.job_by_prof h1{
	color: white;
	font-size: 55px;
	text-align: center;
	font-family: "Times New Roman";
}

.row {
	height: 50px;
}

.col {
	margin: 20px 0px 0px 0px;
}

.col ul li {
	font: 25px "Times New Roman";
	color: white;
	list-style-type: none;
	margin-bottom: 20px;
}

.row_2 {
	height: 100px;
}

.job_by_city {
	margin: 0 auto;
	height: 100px;
	border: 1px solid white;
	width: 600px;	
}

.job_by_city h1{
	color: white;
	font-size: 55px;
	text-align: center;
	font-family: "Times New Roman";
}

.job_by_prof a {
	color: white;
	text-decoration: none;
}

.job_by_city a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color:red;
}

.footer {
	height: 30px;
	width: 100%;
	display: inline-block;
}

.foot ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 10px 10px 0px;
	font-size: 17px;
	margin: 0px 20px 0px 0px;
}

.navbar-inverse {
	margin: 0px;
	border-radius: 0px !important;
}

.row_3 {
	width: 100%;
	height: 100px;
	float: left;
}